/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

:root {
  --dark: #3a4750;
  --darker: #303841;
  --red: #d72323;
  --light: #eeeeee;
  --grey: #6b7280;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.2s;
  font-family: 'Fira Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: var(--grey);
  font-family: 'Fira Sans', sans-serif;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--light);
}

.emphasis {
  font-weight: 700;
  font-style: italic;
  color: var(--red);
}

#newPlayerForm {
  display: flex;
}

input,
button {
  appearance: none;
  outline: none;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}

#newPlayerName {
  flex: 1 1 0%;
  background: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
  border: 1px solid var(--grey);
}

#newPlayerName::placeholder {
  color: var(--grey);
}

#newPlayerName:active,
#newPlayerName:focus {
  border: 1px solid var(--light);
}

#newPlayerAdd {
  color: var(--light);
  cursor: pointer;
}

#newPlayerAdd:hover {
  color: var(--grey);
}

#newPlayerAdd span {
  font-size: 48px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

main {
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.playersList {
  padding: 1rem;
}

.playersList h2 {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 1rem;
  color: var(--light);
}

#playersContainer .players {
  display: flex;
}

#playersContainer .players .player {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 1rem 1rem 0;
  border: 1px solid var(--grey);
}

.player .content {
  flex: 1;
}

.player .actions .delete {
  color: var(--grey);
}

.player .actions .delete:hover,
.player .actions .delete:active {
  color: var(--red);
}

.player .content .text {
  color: #fff;
  font-size: 1.125rem;
  width: 100%;
  display: block;
}

.player .content .text:not(:read-only) {
  color: var(--red);
}

.score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

.score .subtract {
  color: var(--red);
}

.score .playersScore {
  color: #fff;
  font-size: 2rem;
  width: 1.5em;
  text-align: center;
}

.score .add {
  color: #fff;
}

#errorContainer {
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  font-size: 1.125rem;
}

#errorContainer span {
  color: var(--red);
  margin-right: 0.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  position: sticky;
  background: var(--dark);
  border-top: 1px dotted var(--darker);
}

.footerBTNS {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
}

.footerBTNS button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid var(--grey);
  border-radius: 1rem;
  background: var(--darker);
  margin: 0 1rem;
}

.footerBTNS button:hover {
  color: var(--red);
}

.footerBTNS button span {
  padding: 0 0.5rem 0.5rem;
  font-size: 2.5rem;
}
